%flex-container{:style => "display: flex; justify-content: space-between"}
  .short-description
    .container
      .row
        .col-md-6
          .product-thumbnail
            .col-md-10.col-sm-10.col-xs-10
              .thumb-main-image
                %a(href="")
                  %img= image_tag location.image.url(:large), style: "width: 100%; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)" if location.image?
              %br/
            .row
              .thumb-image
                - if location.image?
                  .image__wrapper
                    %img.minimized{:alt => "", :src => "#{location.image.url(:large)}"}
                    %img.minimized{:alt => "", :src => "#{location.image.url(:large)}"}
                    %img.minimized{:alt => "", :src => "#{location.image.url(:large)}"}
                    %img.minimized{:alt => "", :src => "#{location.image.url(:large)}"}
                    %img.minimized{:alt => "", :src => "#{location.image.url(:large)}"}

        .col-md-6
          %h1.product-title#title= location.title
          .product-info
            %span.product-avilability
              %strong Description:
              %span= location.description
          %ul.product-info-btn{:style => "margin-left: 18px;"}
            %li
              %a.nav-item.nav-link
                %i.fa-solid.fa-heart#favorite{"data-controller" => "favorites",
                  "data-user-logged-in" => "#{user_signed_in?}",
                  "data-user-id" => "#{current_user&.id}",
                  "data-location-id" => "#{location.id}",
                  "data-favorite-id" => "#{location.favorites.find_by(user: current_user)&.id}",
                  "data-favorited" => "#{location.favorited_by?(current_user)}",
                  "data-action" => "click->favorites#favorite", :style => "margin-left: -17px"}
                Favorite
            %li
              %a.nav-item.nav-link{"data-bs-target" => "#shareLocation", "data-bs-toggle" => "modal", :type => "button"}
                %i.fa.fa-share-nodes 
                Share Location
          
            
          .product-info
            - like = current_user.likes.find_by(location: location)
            - if location.user_id != current_user.id
              - if like.nil?
                .div{:style => "display: flex"}
                  = button_to "Helpfull", likes_path, params: { like: { location_id: "#{location.id}"}}, method: :post, class: "btn btn-light btn-sm"
                  %a{:style => "color: green; padding: 0 10px 0"}
                    %i.fa-regular.fa-thumbs-up.fa-xl
                    %span{:style => "color: black"}= location.likes.count
              - else
                .div{:style => "display: flex"}
                  = button_to "Useless", like_path(like), method: :delete, class: "btn btn-light btn-sm"
                  %a{:style => "color: green; padding: 10px 20px 0"}
                    %i.fa-regular.fa-thumbs-up.fa-xl
                    %span{:style => "color: black"}= location.likes.count
          .product-info
            %span.product-avilability
              %strong Address:
              %span= location.address
          .product-info
            %span.product-avilability
              %strong Country:
              %span= location.country
          .product-info
            %span.product-avilability
              %strong City:
              %span= location.city
          .product-info
            %span.product-avilability
              %strong State:
              %span= location.state
          .product-info
            %span.product-avilability
              %strong Latitude:
              %span= location.latitude
          .product-info
            %span.product-avilability
              %strong Longitude:
              %span= location.longitude
  %br/
%hr/
#reviews.tab-pane
  .product-reviews 
    %p= render 'reviews'
= render 'shared/share_modal'

:javascript
  $(function(){
    $('.minimized').click(function(event) {
      var i_path = $(this).attr('src');
      $('body').append('<div id="overlay"></div><div id="magnify"><img src="'+i_path+'"><div id="close-popup"><i></i></div></div>');
      $('#magnify').css({
      left: ($(document).width() - $('#magnify').outerWidth())/2,
      // top: ($(document).height() - $('#magnify').outerHeight())/2 upd: 24.10.2016
              top: ($(window).height() - $('#magnify').outerHeight())/2
    });
      $('#overlay, #magnify').fadeIn('fast');
    });
    
    $('body').on('click', '#close-popup, #overlay', function(event) {
      event.preventDefault();
      $('#overlay, #magnify').fadeOut('fast', function() {
        $('#close-popup, #magnify, #overlay').remove();
      });
    });
  });