%h5.justify-content-center{:style => "display: flex"} Favorited locations
%hr/
.fade.show.p-0.active
  %section.py-5
    .container.px-4.px-lg-5.mt-5
      .row.gx-4.gx-lg-5.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center
        - @favorites.each do |f|
        - favorited_locations =  Location.find_by_id("#{f.location_id}")
          .col.mb-3
            .card.favor{:href => location_path(favorited_locations), :style => "border: 0;height: 141px"}
              %img.card-img-top
                %a.nav-item.nav-link.favorshow{:href => location_path(favorited_locations)}
                  - if favorited_locations.image?
                    %img= image_tag favorited_locations.image.url(:large), style: " border-radius: 10%; width: 50%; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)"
                  - else
                    = image_tag "carousel/1.png", style: "border-radius: 10%; width: 50%; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)"
                  %em{:style => "position: absolute; margin-left: 5%"}= favorited_locations.title
                  %em.nav-item.nav-link.favorshow{:style => "position: absolute; margin-left: 55%; margin-top: 20%"}= link_to "show", location_path(favorited_locations), style: "color: white"
                  %i.fa-solid.fa-heart.fa-beat{:style => "color: red; position: absolute; margin-left: 90%; margin-top: 20%"}