%h3.text-center Most popular locations
/ Carousel starts
#carouselExampleControls.carousel{"data-bs-ride" => "carousel"}
  .carousel-inner
    .carousel-item.active{:style => "align-items: center"}
      .card{:style => "align-items: center"}
        .img-wrapper
          %img.d-block.w-100
            = image_tag 'izumo_taisha.jpg'
        .card-body
          %h3.card-title#loc_title= Location.find(1).title
          %p.card-text
            .trunk= Location.find(1).short_describtion
       
    .carousel-item
      .card{:style => "align-items: center"}
        .img-wrapper
          %img.d-block.w-100
            = image_tag 'izumo_taisha.jpg'
        .card-body
          %h3.card-title= Location.find(2).title
          %p.card-text
            .trunk= Location.find(2).short_describtion
          
    .carousel-item
      .card{:style => "align-items: center"}
        .img-wrapper
          %img.d-block.w-100
            = image_tag 'izumo_taisha.jpg'
        .card-body
          %h3.card-title= Location.find(3).title
          %p.card-text
            .trunk= Location.find(3).short_describtion
          
    .carousel-item
      .card{:style => "align-items: center"}
        .img-wrapper
          %img.d-block.w-100
            = image_tag 'izumo_taisha.jpg'
        .card-body
          %h3.card-title= Location.find(1).title
          %p.card-text
            .trunk= Location.find(1).short_describtion
         
    .carousel-item
      .card{:style => "align-items: center"}
        .img-wrapper
          %img.d-block.w-100
            = image_tag 'izumo_taisha.jpg'
        .card-body
          %h3.card-title= Location.find(1).title
          %p.card-text
            .trunk= Location.find(1).short_describtion
          
    .carousel-item
      .card{:style => "align-items: center"}
        .img-wrapper
          %img.d-block.w-100
            = image_tag 'izumo_taisha.jpg'
        .card-body
          %h3.card-title= Location.find(1).title
          %p.card-text
            .trunk= Location.find(1).short_describtion
         
    .carousel-item
      .card{:style => "align-items: center"}
        .img-wrapper
          %img.d-block.w-100
            = image_tag 'izumo_taisha.jpg'
        .card-body
          %h3.card-title= Location.find(1).title
          %p.card-text
            .trunk= Location.find(1).short_describtion
          
    .carousel-item
      .card{:style => "align-items: center"}
        .img-wrapper
          %img.d-block.w-100
            = image_tag 'izumo_taisha.jpg'
        .card-body
          %h3.card-title= Location.find(1).title
          %p.card-text
            .trunk= Location.find(1).short_describtion
          
    .carousel-item
      .card{:style => "align-items: center"}
        .img-wrapper
          %img.d-block.w-100
            = image_tag 'izumo_taisha.jpg'
        .card-body
          %h3.card-title= Location.find(1).title
          %p.card-text
            .trunk= Location.find(1).short_describtion
          -# %a.btn.btn-primary{:href => locations_path} Find more...
  %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#carouselExampleControls", :type => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.visually-hidden Previous
  %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#carouselExampleControls", :type => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.visually-hidden Next
/ Carousel Ends

%h3.text-center Interesting locations
.tab-content
  #tab-1.tab-pane.fade.show.p-0.active
    %section.py-5
      .container.px-4.px-lg-5.mt-5
        #locations.row.gx-4.gx-lg-5.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center
          - @locations.each do |location|
            .col.mb-5
              .card.h-100{"data-geolocation-target" => "product", "data-latitude" => "#{location.latitude}", "data-longitude" => "#{location.longitude}"}

                %img.card-img-top
                  - if location.image?
                    = image_tag location, style: "border-radius: 10px 10px 0 0", class: "image-thumbnail"

                .card-body.p-4
                  .text-center
                    %h4= link_to location.title, location_path(location)
                    %strong= location.city
                    %p{"data-distance-away" => ""}= location.address
