%p#notice= notice

%p
  %b Title:
  = @location.title
%p
  %b Description:
  = @location.description
%p
  %b Address:
  = @location.address
%p
  %b Country:
  = @location.country
%p
  %b City:
  = @location.city
%p
  %b State:
  = @location.state
%p
  %b Image:
  = @location.image
%p
  %b Short discription:
  = @location.short_discription
%p
  %b Latitude:
  = @location.latitude
%p
  %b Longitude:
  = @location.longitude

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
