- if @single_room && @single_room.participant?(@single_room, user)
  - isActive = 'active'
- else
  - isActive = ''
.user
  %li.list-group-item.user_list_item.isActive{:class => "<haml_silent> </haml_silent>"}
    .row
      .col-12.d-flex.align-items-center.justify-content-between
        .icon-container
          -# = link_to image_tag(user.chat_avatar, class: 'chat_pfp'), user
          = turbo_stream_from "user_status"
          %div
            = render "users/status", user: user
        = link_to user.name, user, class:"ms-2 me-auto username msg-role-#{user.role}", data: {turbo: "false"}
    = turbo_frame_tag [dom_id(room), "user_last_message"] do
      = render "users/last_message", |
        last_message: last_message,  |
        sender: sender
