
- if current_user && current_user.admin?
  %h5.justify-content-center{:style => "display: flex"} All users
  %hr/
  %table
    %thead
      %tr
        %th{:style => 'width: 5%; text-align: center'} id
        %th{:style => 'width: 10%; text-align: center'} role
        %th{:style => 'width: 20%; text-align: center'} name
        %th{:style => 'width: 30%; text-align: center'} email
        %th{:style => 'width: 20%; text-align: center'} actions
        %th{:colspan => "3"}
    %tbody
      - @users.each do |user|
        %tr
          %td{:style => 'width: 5%; text-align: center'}= user.id
          %td{:style => 'width: 10%; text-align: center'}= user.role
          %td{:style => 'width: 20%; text-align: center'}= user.name
          %td{:style => 'width: 30%; text-align: center'}= user.email
          %td{:style => 'width: 20%; text-align: center'}= link_to "Destroy", @user, data: { turbo_method: :delete, 'turbo-confirm': 'Are you shure?'}, class: 'btn btn-danger'
  %br/ 
  
- else
  = render status: :not_found