= form_for @tour, data: {controller: "nested-form", nested_form_wrapper_selector_value: '.nested-form-wrapper'} do |f|
  - if @tour.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tour.errors.count, "error")} prohibited this tour from being saved:"
      %ul
        - @tour.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  %template(data-nested-form-target="template")
    = f.fields_for :locations, Location.new, child_index: "NEW_RECORD" do |location_fields|
      = render "tours/tour_location_form", f: location_fields
  = f.fields_for :locations do |location_fields|
    = render "tours/tour_location_form", f: location_fields
  / Inserted elements will be injected before that target.
  %div(data-nested-form-target="target")
  %button(data-action="nested-form#add" type="button") Add location
  .actions
    = f.submit 'Save'
