.nested-form-wrapper(data-new-record="#{f.object.new_record?}")
  = f.label :title
  = f.select :title, ["#{Location.first.title}", "#{Location.second.title}"]
  = f.label :comment
  = f.text_field :comment
  %button(data-action="nested-form#remove" type="button") Remove location
  = f.hidden_field :_destroy