%h1 Listing tours

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Locations
      %th Info
      %th
      %th
      %th

  %tbody
    - @tours.each do |tour|
      %tr
        %td= tour.name
        %td= tour.description
        - tour.locations.each do |location|
          %td= location.title
          %td= location.address
          %td= link_to 'See', location
        %td= link_to 'Show', tour
        %td= link_to 'Edit', edit_tour_path(tour)
        %td= link_to 'Destroy', tour_path(tour), data: { turbo_method: :delete, 'turbo-confirm': 'Are you shure?'}

%br

%p= link_to 'New Tour', new_tour_path
%p= link_to 'Back', root_path
