%h3.text-center Available tours

.tab-content
  #tab-1.tab-pane.fade.show.p-0.active
    %section.py-5
      .container.px-4.px-lg-5.mt-5
        #tours.row.gx-4.gx-lg-5.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center
          - @tours.each do |tour|
            .col.mb-5
              .card.h-100
                .card-body.p-4
                  .text-center
                    %h4= link_to tour.name, tour_path(tour)
                    %strong Locations:
                    %em= tour.locations.count
                    - tour.locations.max(3).each do |location|
                      %em(alt="")= link_to location.title.split(","), "#"
                      -# %i.fa-solid.fa-question{"data-bs-toggle" => "tooltip", "data-bs-placement" => "right", "title" => "?"}
                      %p= location.address
                    %strong Author:
                    %em= tour.user.email
                    - like = current_user.likes.find_by(tour: tour)
                    - if like.nil?
                      .div{:style => "display: flex"}
                        = button_to "Helpfull", likes_path, params: { like: { tour_id: "#{tour.id}"}}, method: :post, class: "btn btn-light btn-sm"
                        %a{:style => "color: green; padding: 10px 20px 0"}
                          %i.fa-regular.fa-thumbs-up.fa-xl
                          %span{:style => "color: black"}= tour.likes.count
                    - else
                      .div{:style => "display: flex"}
                        = button_to "Useless", like_path(like), method: :delete, class: "btn btn-light btn-sm"
                        %a{:style => "color: green; padding: 10px 20px 0"}
                          %i.fa-regular.fa-thumbs-up.fa-xl
                          %span{:style => "color: black"}= tour.likes.count

%br

= link_to 'Back', root_path
