%p#notice= notice

%p
  %b Name:
  = @tour.name
%p
  %b Description:
  = @tour.description
%p
  %b Locations:
  - @tour.locations.each do |location|
    = location.title

= link_to 'Destroy', tour_path(@tour), data: { turbo_method: :delete, 'turbo-confirm': 'Are you shure?'}
\|
= link_to 'Edit', edit_tour_path(@tour)
\|
= link_to 'Back', tours_path
